html{
scroll-behavior: smooth;
overflow-x: hidden;
}


button{
cursor: pointer;
}
::selection{
background-color: transparent;
}
body{
background-color: #eee;
}
hr{
 height: 5px;
 margin-left: 90px;
 width: 80%;
 margin-left: 50px;

 
        background-color: #333;
        border: none;
}
*{
padding: 0;
margin: 0;
box-sizing: border-box;

}
::-webkit-scrollbar{
width: 10px;
}
::-webkit-scrollbar-track{
border-radius: 5px;
box-shadow: inset 0 0 10px white;
}
::-webkit-scrollbar-thumb{
border-radius: 5px;
background-color: black;
}
.logo img{
width: 50px;
height: 50px;
}
.navbar{
display: flex;
align-items: center;
padding: 20px;
}
nav ul{
flex: 1;
text-align: right;
display: inline-block;

list-style: none;
}
nav ul li{
display: inline-block;
margin-right: 20px;
}
a{
text-decoration: none;
color: #555;
}
p{
color: #555;
}
.navbar{
max-width: 1300px;
margin: auto;
padding-left: 25px;
padding-right: 25px;
font-family: 'Roboto', sans-serif;
}
.rows{
display: flex;
align-items: center;
flex-wrap: wrap;
justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
max-width: 100%;
padding: 40px 0px;
}
.col-1 h1{
font-size: 50px;
line-height: 60px;
margin: 25px;
font-family: 'Roboto', sans-serif;
}
.col-1{
position: relative;
bottom: 50px;
}
.col-1 span{
color: orange;
font-family: 'Roboto', sans-serif;
}
.col-1 p{
margin: 25px;
font-size: 25px;
font-family: 'Roboto', sans-serif;
}
.col-1 button{
margin: 25px;
padding: 10px 20px;
border-top: 1px solid black;
border-left: 1px solid black;
border-right: 1px solid black;
border-bottom: 1px solid black;
font-family: 'Roboto', sans-serif;

}
.TypeOfProducts img{
height: 250px;
width: 100%;
margin: 20px;
}
.TypeOfProducts{
margin: 70px 0;
transition: 0.9s;
}
.TypeOfProducts:hover{
transform: translateY(-10px);
}
.col-3{
flex-basis: 30%;
min-width: 250px;
margin-bottom: 60px;
}
.TypeOfProducts img{
margin: 20px;
padding-right: 25px;
padding-left: 25px;
max-width: 1080px;
}
.col-3 hr{
background-color: orange;

}
.container{
max-width: 1080px;
margin: auto;
padding-left: 25px;
padding-right: 25px;
}
.col-4{
flex-basis: 25%;
padding: 10px;
min-width: 200px;
margin-bottom: 50px;
transition: 0.9s;
}
.col-4 img{
width: 100%;
}
.col-4 p{
font-weight: bold;
font-family: 'Roboto', sans-serif;
}
.col-4 span{
font-family: 'Roboto', sans-serif;
font-weight: bold;
}
.col-4 button{
margin-top: 25px;
padding: 10px 20px;
border-top: 1px solid black;
border-left: 1px solid black;
border-right: 1px solid black;
border-bottom: 1px solid black;
font-family: 'Roboto', sans-serif;
}

.container h2{
padding-left: 25px;
padding-right: 25px;
font-size: 60px;
font-family: 'Roboto', sans-serif;
text-align: center;
margin-bottom: 60px;



}
cursor{
background-image: url(../cursor_PNG61.png);

}
.container span{
color: orange;
}
h2{
  padding-bottom: 0.25rem; /* defines the space between text and underline */
  position: relative;
  display: inline-block;
  left: 150px;
}
h2:before{
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: -5px;
  width: 0;
  height: 8px;
  background-color: #233;
  transition: width 0.25s ease-out;
}
h2:hover::before{
width: 100%;
}
.icon-button{
position: relative;
display: flex;
align-items: center;
justify-content: center;
border: none;
background-color: #dddddd;
height: 50px;
width: 50px;
border-radius: 50%;
}
.counter{
position: absolute;
top: -10px;
right: -10px;
color: #fff;
width: 30px;
height: 30px;
background-color: red;
color: #fff;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
}
.col-4:hover{
transform: translateY(-10px);
}
.offer{
font-family: 'Roboto', sans-serif;
line-height: 1.6rem;

}
.offer h1{
color: orange;
margin-bottom: 20px;
}
.col-2 img{
width: 100%;
}
.col-2 button{
margin-top: 25px;
padding: 10px 20px;
border-top: 1px solid black;
border-left: 1px solid black;
border-right: 1px solid black;
border-bottom: 1px solid black;
font-family: 'Roboto', sans-serif;
}
nav button{
padding: 10px 20px;
border-top: 1px solid black;
border-left: 1px solid black;
border-right: 1px solid black;
border-bottom: 1px solid black;
font-family: 'Roboto', sans-serif;
margin-right: 10px;
margin-left: 10px;
}
body{
animation: FadeIn 3s;
}

#loading{
  position: fixed;
width: 100%;
height: 100vh;
background: #fff url('./res/Rocket.gif') no-repeat center;
z-index: 1000;

}
.offer2 img {
width: 550px;
height: 400px;
}
.offer2{
font-family: 'Roboto', sans-serif;
line-height: 1.6rem;

}
.offer2 h1{
color: orange;
margin-bottom: 20px;
}
.offer3 img{
width: 100%;
height: 100%;
margin-left: 30px;
}
footer{
height: 300px;
width: 100%;

margin: 0;
padding: 0;
}
.About {
margin-top: 200px;
max-width: 500px;

}
.About p{
color: #233;
}
.fab.fa-youtube{
display: inline-flex;
align-items: center;
justify-content: center;
border: none;
background-color: #dddddd;
height: 50px;
width: 50px;
border-radius: 50%;
cursor: pointer;
}
.fab.fa-twitter{
display: inline-flex;
cursor: pointer;

align-items: center;
justify-content: center;
border: none;
background-color: #dddddd;
height: 50px;
width: 50px;
border-radius: 100%;
}
.fab.fa-facebook-f{
display: inline-flex;
align-items: center;
justify-content: center;
border: none;
background-color: #dddddd;
height: 50px;
width: 50px;
border-radius: 100%;
cursor: pointer;

}
footer{
display: flex;
justify-content: space-between;
}
.contact{
margin-top: 230px;
}

